* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-left: 40rem;
    background-color:whitesmoke;
    width:1440px;
    height: 200rem;
    font-weight: 600;
    
    
}
 
 .navbar{
    background-color:#FFFFFF ;
    width: 1440px;
    height: 100px ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
} 
.icons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    gap: 45px;
}
ul li a{
    list-style: none; text-decoration: none; color: black;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 50px;

}
.mask{
   margin-right: 20rem;
  }
.photos{
margin-top: 5rem;
gap: 20px;
display: flex;
justify-content:center;
align-items: center;


}
.head {
display: flex;
justify-content:center;
align-items: center;
margin-top: 3rem;
}
.cl{
display: flex;
justify-content:center;
align-items: center;
margin-top: -8px;
color: #666666;
}
.photos p {
    margin-top: 25px;
    font-weight: bold;
    margin-left: 10rem;
}

.cards {
margin-top: 8rem;
margin-left: 4rem;
margin-bottom: 10rem;
display: grid;
grid-template-columns: repeat(4,1fr);
gap: 16px;
}
.header{
    margin-top: 10rem;
    color: #3A3A3A;
}
.btn{
    background: transparent;
    color: #B88E2F;
    border: 1px solid #B88E2F;
    padding: 10px 20px;
    font-size: 20px; 
    cursor: pointer;
    width:16rem ;
    height: 4rem;
    font-weight: 700;

margin-left: 36rem;
margin-bottom: 20rem;
}