:root {
  --white: #fff;
  --black: #000;
  --primary: #0d6efd;
  --muted:#ddd8d8;
   --bg-big: #e7f0fb;
   --gray : rgb(206, 194, 194);
}

body {
  font-family: Inter, sans-serif !important;
}
.bg-gray{
  background-color: var(gray);
}

.bg-bb{
  background-image: url(/img/Gemini_Generated_Image_2dcraf2dcraf2dcr.png);
  width: 100%;
 
}

.hover-border {
  border: 3px solid transparent;   /* مبدئياً مفيش لون */
  border-radius: 12px;             /* تخلي البوردر ناعم */
  transition: border-color 0.3s ease;
}

.hover-border:hover {
  transform: rotate(360deg);    /* يتغير لون البوردر عند الهوفر */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter, sans-serif !important;
}
.bg-big{
  background-color: var(--bg-big);
}

h1,
h2,
h3 {
  font-family: Inter, sans-serif !important;
  font-weight: 700;
}

ul,
.btn {
  text-decoration: none;
  list-style: none;
  font-weight: 400 !important;
}
.bg-img {
  background: url(/img/banner-img.png) right top no-repeat;
  margin: auto;
  max-width: 1600px;
  width: 100%;
  height: 60rem;
}
.bg-img1{
  background: url(/img/Gemini_Generated_Image_553d4s553d4s553d.png) left top no-repeat;
 }
 .mt-2 {
  margin-top: 8rem !important;
}
.mt-10{
 margin-top: -6rem !important;

}

.d1 {
  top: 50%;
  left: 51%;
}

.d2 {
  top: 42%;
  left: 71%;
}

.d3 {
      top: 90%;
    left: 64%;

}
.gradient-bg {
    background: 
    linear-gradient(to right, #0d6efd,#8fc9d6);
}

.logo {
  width: 100px;
  height: 100px;
  box-shadow: 1rem;
  border-radius: 2rem;
  box-sizing: border-box;
}

.text-black {
  color: var(--black);
}
.bg-muted{
  background-color: var(--muted);
}


.bg-primary {
  background-color: var(--primary);
}
.primary {
  color: var(--primary);
}
.bg-white {
  background-color: var(--white);
}
.py-5{
    padding-top: 11rem !important;
    padding-bottom: 3rem !important;
}

.text-white {
  color: var(--white);
}
.text-muted
{
  color: var(--muted);
}
.br {
  border-radius: 20px;
}
.wh{
    /* width: 2rem; */
    height:4rem;
    max-width: 7rem;
}
.wh1{
    width: 20rem;
    height:3rem;
    max-width: 20rem;
}
/* هذا الكلاس سيجعل النص يظهر بشكل أنظف لو كان على سطرين */
.service-title {
    line-height: 1.2; /* لتقليل المسافة بين السطور وجعلها تبدو متماسكة أكثر */
    width: 100% ;
    max-width: 120px;
    /* text-overflow: ellipsis; white-space: nowrap; overflow: hidden; إذا أردت قص النص الطويل */
}
.a:hover img{
background-color: floralwhite;
animation: flipInY 2s ;

}
.b:hover img{
background-color: floralwhite;
animation: flipInY 1s ;
transform: rotatey(360deg);

}


.card1 {
  width: 120px;
  height: 150px;
  padding: 1rem; /* أقل من p-3 */
}
.tm{
  color: var(--muted);
}
.ul1{
  list-style: none;
   padding: 0;
    margin: 0;
}
.holographic-card {


    /* display: flex; */
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    border-radius: 15px;
    transition: all 0.5s ease;
}

.holographic-card h2 {
    color: rgba(217, 232, 232, 0.138);
    font-size: 2rem;
    position: relative;
    z-index: 2;
}

.holographic-card::before {
    content: "";
    position: absolute;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    background: linear-gradient(0deg,
            transparent,
            transparent 30%,
            rgba(231, 224, 224, 0.599));
    transform: rotate(-90deg);
    transition: all 0.3s ease;
    opacity: 0;
}

.holographic-card:hover {

    box-shadow: 0 0 20px rgba(149, 156, 156, 0);
}

.holographic-card:hover::before {
    opacity: 1;
    transform: rotate(-90deg) translateY(120%);
}
.icon-rotate {
  display: inline-block;
  transition: transform 0.6s linear; /* مدة ونعومة الحركة */
}

.icon-rotate:hover {
  transform: rotatey(360deg); /* لفة كاملة */
}

.econ-rotate {
  display: inline-block;
  transition: transform 0.6s linear; /* مدة ونعومة الحركة */
}

.econ-rotate:hover {
  transform: rotate(360deg);
}
.my-card {
  background-color: var(--bg-big);
  transition: background-color 0.3s ease; /* يدي انسيابية للتغير */
}

.my-card:hover {
  background-color: var(--primary);
}
.my-buttons{
  background-color: var(--primary);
}
.my-buttons:hover{
  background-color: var(--white);
}