* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --white: #fff;
  --black: #000;
  --primary: #0d6efd;
  --muted: #d1cece;
  --bg-big: #ebe8e8;
  --gray: rgb(136, 134, 134);
  --bg-white-light: #f9f9f93c;
  --kohly: #040213;
}
.bg-kohly {
  background-color: var(--kohly) !important;
  color: var(--black);
}
.text-gray {
  color: var(--gray) !important;
}
.bg-white-light {
  background-color: var(--bg-white-light) !important;
}
.bg-big {
  background-color: var(--bg-big) !important;
}
.bg-muted {
  background-color: var(--muted) !important;
}

/* body {
  font-family: Inter, sans-serif !important;
} */
.img-bg {
  width: 100%;
  height: 90vh;
  background-image: url("/img/photo-1554118811-1e0d58224f24.jpeg");
  background-size: cover;

  position: relative;
}
.rounded-4 {
  border-radius: 15px;
}

.row.g-3 img {
  object-fit: cover;
  height: 220px;
  width: 100%;
}

.btn-primary {
  background-color: var(--primary);
  border: none;
}
.bg-big{
    background-color: var(--bg-big) !important;
}
.logo {
    font-size: 30px;            /* حجم الأيقونة */
    width: 50px;                /* عرض الخلفية */
    height: 50px;               /* ارتفاع الخلفية */
    background-color:var(--muted);  /* الخلفية (لون) */
    color: #000;                /* لون الأيقونة */
    display: flex;              /* عشان نقدر نوسّط المحتوى */
    justify-content: center;    /* توسيط أفقي */
    align-items: center;        /* توسيط رأسي */
    border-radius: 50%;         /* دائري بالكامل */
    margin: 0 auto;             /* توسيط داخل العنصر الأب */
}
.button:hover{
    background-color: var(--muted);
    color: var(--black);
}
.logo1{
    background-color:var(--muted); 
     
    display:flex;
    border-radius: 50%;
    width: 30px;                /* عرض الخلفية */
    height: 30px;
    font-size: 10px;            /* حجم الأيقونة */
    justify-content: center;    /* توسيط أفقي */
    align-items: center;        
}
.w{
    width: 16rem;
    height: 3rem;
}
.font-big{
    font-size: 15px;
}
.trafic{
    background-color: var(--bg-big);;
    width: 50px;         
    height: 20px;
    justify-content: center;
    align-items: center;

}
