:root {
  --orange: #ffc222;
  --red: #ee3a43;
  --whaite: #ffffff;
  --black: #212121;
  --y: #FFD43A;
  --b: #EF294C;
--g: #00A149;
;


}
.Contactus {
  background-color: var(--orange);
  border-radius: 1rem;
  height: 3rem;
  width: 9rem;
}
.text {
  color: var(--black);
}
.background {
  background-color: var(--whaite);
}
.textr {
  color: var(--red);
}
.textw {
  color: var(--whaite);
}
.texty{
color: var(--y);

}
.textb{
    background-color: var(--b);
}
.text-green{

    color: var(--g);
}
ul li a {
  text-decoration: none;
}
.Food {
  font-family: Roboto;
  font-weight: 900;
  font-style: Black;
  font-size: 80px;

  line-height: 80px;
  letter-spacing: 0%;
  vertical-align: middle;

  top: -13.54px;
}
.p{
width: 138.0368194580078;
height: 26;
top: 182px;
left: 206px;
font-family: Roboto;
font-weight: 400;
font-style: Regular;
font-size: 16px;
line-height: 26px;
letter-spacing: 0%;
vertical-align: middle;
}
